<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Decription:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path, :class => 'button' %><br><br>
<%= link_to 'Back', articles_path, :class => 'button' %>